spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/qisehua?useUnicode=true&characterEncoding=utf-8&severTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver
server:
  port: 8080